---
import ContactTiles from './ContactTiles.astro';
// Home hero lifted from All Clean. Parameterized for service pages (design unchanged).
const {
  words = ['УБОРКА', 'ДЛЯ', 'ЗАНЯТЫХ', 'ЛЮДЕЙ', 'В'],
  city = 'КИШИНЁВЕ',
  primaryHref = '/book-cleaning',
  primaryText = 'Записаться на уборку',
  secondaryHref = '/pricing',
  secondaryText = 'Смотреть цены',
} = Astro.props;
---
        <section class="section_hero-home">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div class="master_hero-home">
                <div
                  data-w-id="1d8f19b6-b782-66c5-bdd4-f8460de8d536"
                  style="opacity:1"
                  class="left_hero-home"
                >
                  <div class="hero-home_top-tile">
                    <div class="button-group_book">
                      <a
                        href="https://google.com"
                        target="_blank"
                        class="link_book-social w-inline-block"
                        ><div class="icon-wrap_book-social base">
                          <div class="icon-book-social w-embed">
                            <svg
                              width="16"
                              height="16"
                              viewBox="0 0 16 16"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M14.0742 9.18518V12.1481C14.0742 13.3997 13.0889 14.6666 11.2054 14.6666H8.77439C5.16825 14.6666 2.16632 11.9322 1.94039 8.44132C1.81452 6.50225 2.50559 4.66019 3.88132 3.28265C5.17445 1.98779 6.97759 1.33325 8.80752 1.33325H12.6666C13.0348 1.33325 13.3333 1.63172 13.3333 1.99992V3.33325C13.3333 3.70139 13.0348 3.99992 12.6666 3.99992H8.73872C7.70679 3.99985 6.68065 4.33319 5.91625 5.02645C4.99085 5.86565 4.52125 7.03392 4.60112 8.26878C4.73685 10.3609 6.56985 11.9999 8.77432 11.9999C8.77432 11.9999 9.96665 11.9965 10.7469 11.9914C11.1133 11.9891 11.4075 11.6912 11.4075 11.3247V9.99992C11.4075 9.63172 11.109 9.33325 10.7408 9.33325H8.66659C8.29839 9.33325 7.99992 9.03472 7.99992 8.66658V7.33325C7.99992 6.96505 8.29839 6.66658 8.66659 6.66658H11.5556C12.9465 6.66658 14.0742 7.79425 14.0742 9.18518Z"
                                fill="#537FDD"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="button-social-book">
                          <div class="label-large">4.9 в Google</div>
                        </div></a
                      ><a
                        href="https://google.com"
                        target="_blank"
                        class="link_book-social w-inline-block"
                        ><div class="icon-wrap_book-social base">
                          <div class="icon-book-social w-embed">
                            <svg
                              width="16"
                              height="16"
                              viewBox="0 0 16 16"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <g clip-path="url(#clip0_44363_2430)">
                                <path
                                  d="M8.08573 5.77609C8.66184 5.77609 9.18994 5.95213 9.62203 6.25619C10.1341 5.8241 11.0623 5.68007 11.8625 5.08796C13.9269 3.56766 11.8465 0.0309609 6.61344 0.943141C2.75668 1.61527 4.43701 5.03995 5.78127 7.02434C6.26137 6.27219 7.12554 5.77609 8.08573 5.77609Z"
                                  fill="#DC0000"
                                />
                                <path
                                  d="M5.33413 8.51263C5.33413 8.44862 5.33413 8.3686 5.35013 8.30459C4.694 8.09655 4.10189 7.3284 3.17371 6.92832C0.821243 5.88811 -1.19515 9.47282 2.21352 13.5376C4.72601 16.5302 6.83843 13.3936 7.87863 11.2492C6.45435 11.1371 5.33413 9.95291 5.33413 8.51263Z"
                                  fill="#DC0000"
                                />
                                <path
                                  d="M10.5365 7.29639C10.7285 7.66446 10.8245 8.08054 10.8245 8.51263C10.8245 9.61684 10.1684 10.577 9.22422 11.0091C9.35224 11.6812 9.00017 12.5454 9.1122 13.5376C9.38425 16.0821 13.4971 16.0501 15.3214 11.0731C16.6497 7.42441 12.9209 7.13635 10.5365 7.29639Z"
                                  fill="#DC0000"
                                />
                                <path
                                  d="M9.92757 8.51262C9.92757 7.48841 9.09541 6.65625 8.07121 6.65625C7.04701 6.65625 6.21484 7.48841 6.21484 8.51262C6.21484 9.53682 7.04701 10.369 8.07121 10.369C9.09541 10.369 9.92757 9.53682 9.92757 8.51262Z"
                                  fill="#DC0000"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_44363_2430">
                                  <rect width="16" height="16" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                          </div>
                        </div>
                        <div class="button-social-book">
                          <div class="label-large">
                            <strong>4.8 на Facebook</strong>
                          </div>
                        </div></a
                      >
                    </div>
                    <h1 id="" class="heading_hero-home">
                      {words.map((w: string) => <div class="heading-style-h1">{w}</div>)}
                      <div class="heading-style-h1">{city}</div>
                    </h1>
                  </div>
                  <div class="button-group_left">
                    <a
                      href={primaryHref}
                      button=""
                      data-wf--cta-primary--variant="primary"
                      class="cta_primary w-inline-block"
                      ><div class="button_text-mask">
                        <div button-icon-right="" class="icon-wrap_button">
                          <div class="wrap_icon-btn">
                            <div class="icon_button w-embed">
                              <svg
                                width="100%"
                                height="100%"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                  stroke="currentColor"
                                  stroke-width="var(--_❇️-icon---icon-stroke)"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div button-text="" class="text-button">
                          {primaryText}
                        </div>
                      </div>
                      <div button-bg="" class="btn-bg"></div></a
                    ><a
                      href={secondaryHref}
                      button=""
                      data-wf--cta-primary--variant="secondary"
                      class="cta_primary w-variant-1ff8d96e-78cc-eac8-de90-206ecdaded5f w-inline-block"
                      ><div class="button_text-mask">
                        <div button-icon-right="" class="icon-wrap_button">
                          <div class="wrap_icon-btn">
                            <div class="icon_button w-embed">
                              <svg
                                width="100%"
                                height="100%"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                  stroke="currentColor"
                                  stroke-width="var(--_❇️-icon---icon-stroke)"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div button-text="" class="text-button">
                          {secondaryText}
                        </div>
                      </div>
                      <div
                        button-bg=""
                        class="btn-bg w-variant-1ff8d96e-78cc-eac8-de90-206ecdaded5f"
                      ></div
                    ></a>
                  </div>
                </div>
                <div
                  data-poster-url="/video/hero-poster.jpg"
                  data-video-urls="/video/hero.mp4,/video/hero.webm"
                  data-autoplay="true"
                  data-loop="true"
                  data-wf-ignore="true"
                  data-w-id="0c58f3f7-b530-40f9-fafa-273f011d8036"
                  style="opacity:1"
                  class="video_hero-home w-background-video w-background-video-atom"
                >
                  <video
                    id="0c58f3f7-b530-40f9-fafa-273f011d8036-video"
                    autoplay=""
                    loop=""
                    preload="auto"
                    poster="/video/hero-poster.jpg"
                    style="
                      background-image: url(&quot;/video/hero-poster.jpg&quot;);
                    "
                    muted=""
                    playsinline=""
                    data-wf-ignore="true"
                    data-object-fit="cover"
                  >
                    <source
                      src="/video/hero.mp4"
                      data-wf-ignore="true"
                    />
                    <source
                      src="/video/hero.webm"
                      data-wf-ignore="true"
                    />
                  </video>
                </div>
              </div>
              <ContactTiles />
            </div>
          </div>
        </section>
