---
// Home hero lifted from All Clean. Parameterized for service pages (design unchanged).
const {
  words = ['УБОРКА', 'ДЛЯ', 'ЗАНЯТЫХ', 'ЛЮДЕЙ', 'В'],
  cities = ['КИШИНЁВЕ', 'ЧОКАНЕ', 'БОТАНИКЕ', 'РЫШКАНОВКЕ', 'КИШИНЁВЕ'],
  primaryHref = '/book-cleaning',
  primaryText = 'Записаться на уборку',
  secondaryHref = '/pricing',
  secondaryText = 'Смотреть цены',
} = Astro.props;
---
        <section class="section_hero-home">
          <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
              <div class="master_hero-home">
                <div
                  data-w-id="1d8f19b6-b782-66c5-bdd4-f8460de8d536"
                  style="opacity:1"
                  class="left_hero-home"
                >
                  <div class="hero-home_top-tile">
                    <div class="button-group_book">
                      <a
                        href="https://google.com"
                        target="_blank"
                        class="link_book-social w-inline-block"
                        ><div class="icon-wrap_book-social base">
                          <div class="icon-book-social w-embed">
                            <svg
                              width="16"
                              height="16"
                              viewBox="0 0 16 16"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M14.0742 9.18518V12.1481C14.0742 13.3997 13.0889 14.6666 11.2054 14.6666H8.77439C5.16825 14.6666 2.16632 11.9322 1.94039 8.44132C1.81452 6.50225 2.50559 4.66019 3.88132 3.28265C5.17445 1.98779 6.97759 1.33325 8.80752 1.33325H12.6666C13.0348 1.33325 13.3333 1.63172 13.3333 1.99992V3.33325C13.3333 3.70139 13.0348 3.99992 12.6666 3.99992H8.73872C7.70679 3.99985 6.68065 4.33319 5.91625 5.02645C4.99085 5.86565 4.52125 7.03392 4.60112 8.26878C4.73685 10.3609 6.56985 11.9999 8.77432 11.9999C8.77432 11.9999 9.96665 11.9965 10.7469 11.9914C11.1133 11.9891 11.4075 11.6912 11.4075 11.3247V9.99992C11.4075 9.63172 11.109 9.33325 10.7408 9.33325H8.66659C8.29839 9.33325 7.99992 9.03472 7.99992 8.66658V7.33325C7.99992 6.96505 8.29839 6.66658 8.66659 6.66658H11.5556C12.9465 6.66658 14.0742 7.79425 14.0742 9.18518Z"
                                fill="#537FDD"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="button-social-book">
                          <div class="label-large">4.9 в Google</div>
                        </div></a
                      ><a
                        href="https://google.com"
                        target="_blank"
                        class="link_book-social w-inline-block"
                        ><div class="icon-wrap_book-social base">
                          <div class="icon-book-social w-embed">
                            <svg
                              width="16"
                              height="16"
                              viewBox="0 0 16 16"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <g clip-path="url(#clip0_44363_2430)">
                                <path
                                  d="M8.08573 5.77609C8.66184 5.77609 9.18994 5.95213 9.62203 6.25619C10.1341 5.8241 11.0623 5.68007 11.8625 5.08796C13.9269 3.56766 11.8465 0.0309609 6.61344 0.943141C2.75668 1.61527 4.43701 5.03995 5.78127 7.02434C6.26137 6.27219 7.12554 5.77609 8.08573 5.77609Z"
                                  fill="#DC0000"
                                />
                                <path
                                  d="M5.33413 8.51263C5.33413 8.44862 5.33413 8.3686 5.35013 8.30459C4.694 8.09655 4.10189 7.3284 3.17371 6.92832C0.821243 5.88811 -1.19515 9.47282 2.21352 13.5376C4.72601 16.5302 6.83843 13.3936 7.87863 11.2492C6.45435 11.1371 5.33413 9.95291 5.33413 8.51263Z"
                                  fill="#DC0000"
                                />
                                <path
                                  d="M10.5365 7.29639C10.7285 7.66446 10.8245 8.08054 10.8245 8.51263C10.8245 9.61684 10.1684 10.577 9.22422 11.0091C9.35224 11.6812 9.00017 12.5454 9.1122 13.5376C9.38425 16.0821 13.4971 16.0501 15.3214 11.0731C16.6497 7.42441 12.9209 7.13635 10.5365 7.29639Z"
                                  fill="#DC0000"
                                />
                                <path
                                  d="M9.92757 8.51262C9.92757 7.48841 9.09541 6.65625 8.07121 6.65625C7.04701 6.65625 6.21484 7.48841 6.21484 8.51262C6.21484 9.53682 7.04701 10.369 8.07121 10.369C9.09541 10.369 9.92757 9.53682 9.92757 8.51262Z"
                                  fill="#DC0000"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0_44363_2430">
                                  <rect width="16" height="16" fill="white" />
                                </clipPath>
                              </defs>
                            </svg>
                          </div>
                        </div>
                        <div class="button-social-book">
                          <div class="label-large">
                            <strong>4.8 на Facebook</strong>
                          </div>
                        </div></a
                      >
                    </div>
                    <h1 id="" class="heading_hero-home">
                      {words.map((w: string) => <div class="heading-style-h1">{w}</div>)}
                      <div class="wrap_swap-text">
                        {cities.map((c: string) => (
                          <div class="text-swap">
                            <div class="heading-style-h1">{c}</div>
                          </div>
                        ))}
                      </div>
                    </h1>
                  </div>
                  <div class="button-group_left">
                    <a
                      href={primaryHref}
                      button=""
                      data-wf--cta-primary--variant="primary"
                      class="cta_primary w-inline-block"
                      ><div class="button_text-mask">
                        <div button-icon-right="" class="icon-wrap_button">
                          <div class="wrap_icon-btn">
                            <div class="icon_button w-embed">
                              <svg
                                width="100%"
                                height="100%"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                  stroke="currentColor"
                                  stroke-width="var(--_❇️-icon---icon-stroke)"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div button-text="" class="text-button">
                          {primaryText}
                        </div>
                      </div>
                      <div button-bg="" class="btn-bg"></div></a
                    ><a
                      href={secondaryHref}
                      button=""
                      data-wf--cta-primary--variant="secondary"
                      class="cta_primary w-variant-1ff8d96e-78cc-eac8-de90-206ecdaded5f w-inline-block"
                      ><div class="button_text-mask">
                        <div button-icon-right="" class="icon-wrap_button">
                          <div class="wrap_icon-btn">
                            <div class="icon_button w-embed">
                              <svg
                                width="100%"
                                height="100%"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M3.33337 8.00016H12.6667M12.6667 8.00016L8.00004 3.3335M12.6667 8.00016L8.00004 12.6668"
                                  stroke="currentColor"
                                  stroke-width="var(--_❇️-icon---icon-stroke)"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div button-text="" class="text-button">
                          {secondaryText}
                        </div>
                      </div>
                      <div
                        button-bg=""
                        class="btn-bg w-variant-1ff8d96e-78cc-eac8-de90-206ecdaded5f"
                      ></div
                    ></a>
                  </div>
                </div>
                <div
                  data-poster-url="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cac6%2F693817393d800624450974eb_hero%20%281%29_poster.0000000.jpg"
                  data-video-urls="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cac6%2F693817393d800624450974eb_hero%20%281%29_mp4.mp4,https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cac6%2F693817393d800624450974eb_hero%20%281%29_webm.webm"
                  data-autoplay="true"
                  data-loop="true"
                  data-wf-ignore="true"
                  data-w-id="0c58f3f7-b530-40f9-fafa-273f011d8036"
                  style="opacity:1"
                  class="video_hero-home w-background-video w-background-video-atom"
                >
                  <video
                    id="0c58f3f7-b530-40f9-fafa-273f011d8036-video"
                    autoplay=""
                    loop=""
                    style="
                      background-image: url(&quot;https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cac6%2F693817393d800624450974eb_hero%20%281%29_poster.0000000.jpg&quot;);
                    "
                    muted=""
                    playsinline=""
                    data-wf-ignore="true"
                    data-object-fit="cover"
                  >
                    <source
                      src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cac6%2F693817393d800624450974eb_hero%20%281%29_mp4.mp4"
                      data-wf-ignore="true"
                    />
                    <source
                      src="https://cdn.prod.website-files.com/692f17afc3743c9cd4b7cac6%2F693817393d800624450974eb_hero%20%281%29_webm.webm"
                      data-wf-ignore="true"
                    />
                  </video>
                </div>
              </div>
              <div scale-boxes="" class="w-layout-grid grid_support">
                <a
                  href="tel:(212)555-0198"
                  class="book_support-item w-inline-block"
                  ><div class="icon-wrap_feature">
                    <div class="icon-feature w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 32 32"
                        fill="none"
                      >
                        <path
                          d="M18.444 22.0907C18.7193 22.2172 19.0296 22.246 19.3236 22.1726C19.6175 22.0992 19.8777 21.9278 20.0613 21.6867L20.5346 21.0667C20.783 20.7355 21.1051 20.4667 21.4754 20.2815C21.8457 20.0964 22.254 20 22.668 20H26.668C27.3752 20 28.0535 20.281 28.5536 20.7811C29.0537 21.2812 29.3346 21.9594 29.3346 22.6667V26.6667C29.3346 27.3739 29.0537 28.0522 28.5536 28.5523C28.0535 29.0524 27.3752 29.3334 26.668 29.3334C20.3028 29.3334 14.1983 26.8048 9.69741 22.3039C5.19653 17.803 2.66797 11.6985 2.66797 5.33335C2.66797 4.62611 2.94892 3.94783 3.44902 3.44774C3.94911 2.94764 4.62739 2.66669 5.33464 2.66669H9.33464C10.0419 2.66669 10.7202 2.94764 11.2203 3.44774C11.7203 3.94783 12.0013 4.62611 12.0013 5.33335V9.33335C12.0013 9.74734 11.9049 10.1556 11.7198 10.5259C11.5346 10.8962 11.2658 11.2183 10.9346 11.4667L10.3106 11.9347C10.0659 12.1216 9.89333 12.3875 9.82236 12.6872C9.75138 12.9868 9.78635 13.3019 9.9213 13.5787C11.7435 17.2798 14.7405 20.2731 18.444 22.0907Z"
                          stroke="currentColor"
                          stroke-width="var(--_❇️-icon---icon-stroke)"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="text-wrap_support-tile">
                    <div class="heading-style-h5">Phone</div>
                    <div>+373 79 955 044</div>
                  </div></a
                ><a
                  href="tel:(212)555-0198"
                  class="book_support-item w-inline-block"
                  ><div class="icon-wrap_feature">
                    <div class="icon-feature w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 32 32"
                        fill="none"
                      >
                        <path
                          d="M3.99022 21.7893C4.18628 22.2839 4.22992 22.8258 4.11556 23.3453L2.69556 27.732C2.6498 27.9544 2.66163 28.1849 2.72992 28.4015C2.79822 28.6181 2.92071 28.8137 3.08578 28.9697C3.25085 29.1257 3.45304 29.2369 3.67316 29.2928C3.89328 29.3488 4.12404 29.3476 4.34356 29.2893L8.89422 27.9586C9.38451 27.8614 9.89226 27.9039 10.3596 28.0813C13.2067 29.4109 16.432 29.6922 19.4664 28.8756C22.5008 28.059 25.1493 26.1968 26.9445 23.6178C28.7397 21.0388 29.5664 17.9085 29.2786 14.7794C28.9909 11.6502 27.6072 8.72327 25.3716 6.51491C23.1361 4.30654 20.1925 2.9587 17.0601 2.70917C13.9276 2.45965 10.8077 3.32449 8.25081 5.1511C5.69389 6.97771 3.86427 9.6487 3.08475 12.6928C2.30523 15.737 2.62592 18.9586 3.99022 21.7893Z"
                          stroke="currentColor"
                          stroke-width="var(--_❇️-icon---icon-stroke)"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="text-wrap_support-tile">
                    <div class="heading-style-h5">Text</div>
                    <div>+373 79 955 044</div>
                  </div></a
                ><a
                  href="tel:(212)555-0198"
                  class="book_support-item w-inline-block"
                  ><div class="icon-wrap_feature">
                    <div class="icon-feature w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 32 32"
                        fill="none"
                      >
                        <path
                          d="M16.0013 9.33342C17.3346 8.58676 19.708 6.66676 22.668 6.66676C24.3953 6.63449 26.0654 7.28631 27.3141 8.48015C28.5629 9.67399 29.2892 11.3131 29.3346 13.0401C29.3346 18.6668 25.3346 29.3334 21.3346 29.3334C19.668 29.3334 18.0013 27.9201 16.0013 27.9201C14.0013 27.9201 12.3346 29.3334 10.668 29.3334C6.66797 29.3334 2.66797 18.6668 2.66797 13.0401C2.70993 11.3119 3.43512 9.67078 4.68468 8.4762C5.93423 7.28162 7.6063 6.63097 9.33464 6.66676C12.2946 6.66676 14.668 8.58676 16.0013 9.33342ZM16.0013 9.33342C16.0013 5.33342 14.668 3.33332 13.3346 2.66666"
                          stroke="currentColor"
                          stroke-width="var(--_❇️-icon---icon-stroke)"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="text-wrap_support-tile">
                    <div class="heading-style-h5">iMessage</div>
                    <div>+373 79 955 044</div>
                  </div></a
                ><a
                  href="tel:(212)555-0198"
                  class="book_support-item w-inline-block"
                  ><div class="icon-wrap_feature">
                    <div class="icon-feature w-embed">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 30 24"
                        fill="none"
                      >
                        <path
                          d="M27.9167 5.25L15.9287 12.886C15.5219 13.1223 15.0598 13.2467 14.5893 13.2467C14.1189 13.2467 13.6568 13.1223 13.25 12.886L1.25 5.25M3.91667 1.25H25.25C26.7228 1.25 27.9167 2.44391 27.9167 3.91667V19.9167C27.9167 21.3894 26.7228 22.5833 25.25 22.5833H3.91667C2.44391 22.5833 1.25 21.3894 1.25 19.9167V3.91667C1.25 2.44391 2.44391 1.25 3.91667 1.25Z"
                          stroke="currentColor"
                          stroke-width="var(--_❇️-icon---icon-stroke)"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="text-wrap_support-tile">
                    <div class="heading-style-h5">Email</div>
                    <div>+373 79 955 044</div>
                  </div></a
                >
              </div>
            </div>
          </div>
        </section>
